
/* Your CSS Code here. */
.container{
	background-color:lightblue;
 	display:flex; 
	flex-direction:row; 
	justify-content:center;
	flex-flow:wrap;
}
.container div{
	width:100px;
	background-color:darkblue;
	color:white;
	margin:40px 10px;
}